@font-face {
font-family: 'robotoregular';
src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'robotolight';
src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../fonts/roboto-light-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'robotothin';
src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
        url('../fonts/roboto-thin-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'futura_bk_btbook';
src: url('../fonts/futura_bk_bt_book-webfont.woff2') format('woff2'),
        url('../fonts/futura_bk_bt_book-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
  
/* Filter section */
  .bootstrap-tagsinput .label-info {
    background-color: #383838;
    padding: 6px 18px;
    font-size: 16px;
    font-family: 'robotolight';
    margin-right: 16px;
    margin-bottom: 20px;
  }
  
  .label {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .megamenu-li {
    position: static;
    margin-right:32px;
  }
  .wrapper.navbar{
    padding:0;
  }
  .wrapper .navbar-nav .megamenu-li a.nav-link{
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-family: 'robotolight';
    padding:0;
  }
  .liked-li a.nav-link{
    line-height: 40px!important;
  }
  .liked-li a.nav-link i{
    margin-right: 8px;
  }
  .liked-li a.nav-link .badge{
    border:1px solid #3EBDCC;
    background: transparent;
    color:#ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-left: 7px;
    border-radius: 50%;
  }

  .megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px 15px 121px 15px;
  }
  
  /* .megamenu-li.show .tagsBox.show{
    display: block;
  } */
  .wrapper .navbar-nav .dropdown-menu.megamenu{
    background:#1f1f1f;
    top:48px;
  }
  .bootstrap-tagsinput input{
    display:none;
  }
  
  .filter-option-lists .contactform-check--label{
    color: #ffffff;
    font-size:18px;
    line-height:30px;
    margin-bottom: 18px;
    margin-right: 25px;
  }
  .sub-menu.filter-option-lists .contactform-check--label{
    font-size: 14px;
  }
  .sub-menu.filter-option-lists .contactform-check--label{
    margin-bottom: 0;
  }
  .filter-option-lists .checkmark{
    width: 25px;
    height: 25px;
    background: transparent;
    border: 3px solid #383838;
    border-radius: 4px; 
  }
  
  .filter-option-lists span.checked-color{
    margin-left: 30px;
    font-family: 'robotolight';
  }
  .filter-option-lists span.checked-color .img-color-pic{
    margin-bottom: 3px;
    margin-right: 6px;
  }
  .filter-option-lists .contactform-check--label:hover input ~ .checkmark {
    background:transparent;
  }
  .filter-option-lists .contactform-check--label input:checked ~ .checkmark {
    background-color: #5E5E5E;
    border:4px solid #383838;
  }
  .filter-option-lists .checkmark:after{
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    left: 6px;
    top: 1px;
    width: 5px;
    height: 12px;
  }
  .filter-option-lists input[type=checkbox]:checked + span.checkmark + span.checked-color{
    color: #FFFFFF;
  }
  .tagsBox .bootstrap-tagsinput{
    background: transparent;
    border: inherit;
  }
  .cat-sub-title{
    font-size:20px;
    font-family: 'robotoregular';
    font-weight:bold;
    color:#ffffff;
    margin-bottom: 14px;
  }
  .filtersection .navbar-nav + .tagsBoxDropdown{
    position: absolute;
    z-index: 9999;
    display:none;
    margin-left: 12px;
  }
  
  .filtersection .navbar-nav.active + .tagsBoxDropdown{
    display: block; 
  }


  @media screen and (min-width: 768px) {
    .catelogue-page .cardsection {
      margin-top:0;
    }
    .tagsBox{
      height: 130px;
      overflow: scroll;
    }
  }
  @media screen and (min-width: 992px) {
    .catelogue-page .cardsection {
      margin-top:0;
    }
    .tagsBox{
      height: 90px;
    }
  }
  
  .myfilter_textbox{
    background-image: url("../images/search_icon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-color: #383838;
    border-radius: 12px;
    color:#FFFFFF;
    width:100%;
    font-size: 18px;
    line-height: 32px;
    padding: 12px 0 9px 0;
    margin:25px 0 80px 0;
    text-align: center;
    border:none;
  }
  .has-submenu a + .myfilter_textbox{
    display: none;
  }
  .has-submenu a.active + .myfilter_textbox{
    display: block;
    position: fixed;
    top: 2px;
    margin: 0;
    z-index: 9999;
    width: 56%;
    right: 0;
    left: 41%;
    font-size: 12px;
    line-height: 34px;
    padding: 2px;
    border-radius: 2px;
    background-size: 15px;
  }
  input.myfilter_textbox::placeholder:focus{
    color:white;
  }
  input.myfilter_textbox::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
  }

  .megamenu-li .dropdown-toggle:after{
    font-family: 'FontAwesome';
    content: "\f107";
    border:none;
    margin-left: 9px;
    position: relative;
    top: 5px;
  }
  .megamenu-li.show .dropdown-toggle:after{
    content: "\f106";
    
  }
  
  /* #faq .card .card-header a:after {
    font-family: 'FontAwesome';
    content: "\f068";
    color:#878787;
    float: right;
  }
  #faq .card .card-header a.collapsed:after {
    content: "\f067";
  } */
  

  
  .filter_container {
    display: flex;
    width: 100%;
    height: 70px;
    background: #ff8400;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .header-logo {
    margin-left: 15px;
    flex-grow: 1;
  }
  .header-logo img {
    max-width: 50px;
  }
  
  .search-container {
    position: relative;
    margin-right: 10px;
    width: 40px;
    transition: width 0.4s;
  }
  .search-container.search-active {
    width: 250px;
  }
  @media screen and (max-width: 360px) {
    .search-container.search-active {
      width: 150px;
    }
  }
  .search-container #search {
    color: white;
    width: 75%;
    background: #f07c00;
    border: none;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 20px;
  }
  .search-container #search:focus {
    outline: none;
  }
  .search-container #search::-moz-placeholder {
    color: white;
    font-size: 0.9em;
    opacity: 0.75;
  }
  .search-container #search:-ms-input-placeholder {
    color: white;
    font-size: 0.9em;
    opacity: 0.75;
  }
  .search-container #search::placeholder {
    color: white;
    font-size: 0.9em;
    opacity: 0.75;
  }
  
  #search-icon {
    color: white;
    font-size: 2.2em;
    opacity: 0.7;
    margin-right: 200px;
    position: relative;
    transition: all 0.5s;
  }
  #search-icon.search-active {
    left: 15px;
    z-index: 999;
  }
  @media screen and (max-width: 360px) {
    #search-icon.search-active {
      left: -5px;
    }
  }
  #search-icon:hover {
    cursor: pointer;
    opacity: 1;
  }
  
  .hamburger {
    position: relative;
    width: 100%;
    z-index: 999;
    cursor: pointer;
  }
  .hamburger.nav-open{
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .hamburger.nav-open span:first-child {
    transform: rotate(135deg);
    top: 10px;
  }
  .hamburger.nav-open span:nth-child(2) {
    left: 100px;
    opacity: 0;
  }
  .hamburger.nav-open span:last-child {
    transform: rotate(-135deg);
    top: 10px;
  }
  .hamburger .filter-open-bar img{
    width:20px;
    height: 18px;
    margin: 0 8px 0 0;
  }
  .hamburger .filter-open-bar{
    font-size: 16px;
    line-height: 34px;
    font-family: 'robotolight';
    color: #fff;
    margin: 0;
  }
  .hamburger .filter-open-bar:hover{
    cursor:pointer;
  }
  .hamburger .filter-close-bar,
  .hamburger.nav-open .filter-open-bar{
    display: none;
  }
  .hamburger.nav-open .filter-close-bar{
    display: block;
  }
  .hamburger span {
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    display: block;
    transition: all 0.3s;
  }
  .hamburger span:first-child {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    top: 10px;
    left: 0;
  }
  .hamburger span:last-child {
    top: 20px;
  }
  .filter-close-bar{
    background: #1F1F1F;
    box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 52%);
    padding: 15px 0;
  }
  .filter-close-bar a{
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercasess;
    color:#ffffff;
  }
  .filter-close-bar .apply-filter{
    color:#F4A41D;
    border-left: 1px solid #5D5D5D;
  }
  .tab-apply-bar{
    background: #1F1F1F;
    box-shadow: 0 -3px 6px 0 rgb(0 0 0 / 52%);
    padding:14px 0;
  }
  .tab-apply-bar a{
    color:#ffffff;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;

  }
  .tab-apply-bar .apply-filter{
    color:#F4A41D;
  }
  .menu {
    display: none;
    outline: 1px solid white;
    background: #373737;
    transition: all 0.3s;
  }
  .menu.nav-open {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    left: 0;
    z-index: 99;
  }
  .menu > li {
    position: relative;
    list-style: none;
    padding: 10px 0 8.5px 15px;
    border-bottom: 1px solid #5D5D5D;
  }
  .menu > li > a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height:25px;
    display: block;
  }
  .has-submenu:has(a.active) {
    background-color: #1f1f1f;
    border-bottom: none;
  }
  /* .menu > li > a.active::after {
    opacity: 1;
  }
  .menu > li > a::after {
    content: "";
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    border-right: 13px solid #f07c00;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: block;
    opacity: 0;
  } */
  
  .sub-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100vh;
    background: #1f1f1f;
    overflow: auto;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
  }
  .sub-menu.active {
    opacity: 1;
    z-index: 999;
  }
  .sub-menu li {
    list-style: none;
    padding: 15px 20px;
    font-size: 0.9em;
    border-bottom: 1px solid #5D5D5D;
    cursor: default;
    margin: 0 15px 0 5px;
    padding: 7.5px 30px;
  }
  .sub-menu li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  .sub-menu li a:hover {
    color: gold;
  }
  .sub-menu .title {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    padding: 7.5px 30px;
    border-bottom: 1px solid #5D5D5D;
    margin: 0 15px 0 5px;
  }
  .sub-menu .links {
    display: flex;
  }
  @media screen and (max-width: 600px) {
    .sub-menu .links {
      flex-direction: column;
    }
  }
  .sub-menu .links li {
    padding: 5px 15px 5px 0;
    border: none;
  }
  .sub-menu .links li a {
    color: gold;
    font-size: 0.7em;
  }
  .sub-menu .links li a:hover {
    color: white;
  }