@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  
  }
  @font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: 'robotothin';
	src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
		 url('../fonts/roboto-thin-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  
  }
  @font-face {
	font-family: 'futura_bk_btbook';
	src: url('../fonts/futura_bk_bt_book-webfont.woff2') format('woff2'),
		 url('../fonts/futura_bk_bt_book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  
  }

.tabs {
    position: fixed;
    top: 55%;
    transform: translateY(-50%);
	margin: 40px auto;
	width: 0;
	max-height: 600px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    border-radius: 3px;
	background: #383838;
	z-index: 9;
}

.tab-group input {
	position: absolute;
	z-index: 1000;
	width: 75px;
	height: 72px;
	left: 0px;
	top: 12px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-1{
	top: 36px;
}
.tabs input#tab-2{
	top: 107px;
}
.tabs input#tab-3{
	top: 179px;
}
.tabs input#tab-4{
	top: 251px;
} 
.tabs input#tab-5{
	top: 323px;
}
.tabs .label {
	font-size: 12px;
	height: 72px;
	position: relative;
	display: block;
	width: 75px;
	color: #AAAAAA;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center;
	float: left;
	clear: both;
	padding-top: 13px;
}
.tabs .label i{
	font-size: 28px;
	margin-bottom: 3px;
}
.tabs .label .i-icon,
.tabs .label .i-icon-active{
	margin:0 auto 3px auto;
	width:25px;
}
.tabs .label:after {
    content: '';
	background: #fff;
	position: absolute;
	right: -2px;
	top: 0;
	width: 2px;
	height: 100%;
}

.tabs input:hover + .label {
	color:#fff;
}

.tab-label-1 {
    z-index: 5;
}

.tab-label-2 {
    z-index: 4;
}

.tab-label-3 {
    z-index: 3;
}

.tab-label-4 {
    z-index: 2;
	padding-top: 6px!important;
}
.tab-label-5 {
    z-index: 1;
	line-height: 15px;
}
.tab-label-6 {
    
	line-height: 15px;
}
.tabs input:checked + .label {
    z-index: 6;
	color:#fff;
}

.clear-shadow {
	clear: both;
}

.content {
    background: transparent;
    position: relative;
    width: auto;
	bottom: 420px;
    height: 520px;
    overflow: scroll;
	width: calc(100% - 80px);
	left: 80px;
}


.content .content-wrapper {
    position: absolute;
	top: 0;
	padding: 45px 0 30px 0;
	opacity: 0;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.content .content-wrapper{
	-webkit-transform: translateY(-450px);
	-moz-transform: translateY(-450px);
	-o-transform: translateY(-450px);
	-ms-transform: translateY(-450px);
	transform: translateY(-450px);
}
.content .content-wrapper.content-1,
.content .content-wrapper.footer{
	padding: 52px 0;
	width: 100%;
}
.content-wrapper .active{
	background-color: #3EBDCC;
}
.content-wrapper .row:first-child{
	padding-top: 24px;
}
.content-wrapper .row{
	margin:0 0 13px 0;	
	padding-bottom: 16px;
}
.tab-group{
	overflow: hidden;
	width:75px;
	height:440px;
	background: #1F1F1F 0% 0% no-repeat padding-box;
	border-top-right-radius:20px;
	border-bottom-right-radius: 20px;
	margin: 12px 0 0 0;
	padding-top: 24px;
	
}
.tabs:has(input.tab-selector-1:checked),
.tabs:has(input.tab-selector-2:checked),
.tabs:has(input.tab-selector-3:checked),
.tabs:has(input.tab-selector-4:checked),
.tabs:has(input.tab-selector-5:checked){
	width:570px;
}
.tab-group:has(input.tab-selector-1:checked) ~ .content .content-1,
.tab-group:has(input.tab-selector-2:checked) ~ .content .content-2,
.tab-group:has(input.tab-selector-3:checked) ~ .content .content-3,
.tab-group:has(input.tab-selector-4:checked) ~ .content .content-4,
.tab-group:has(input.tab-selector-5:checked) ~ .content .content-5
 {
    -webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
   	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.3s 0.3s;
    -moz-transition: all ease-out 0.3s 0.3s;
    -o-transition: all ease-out 0.3s 0.3s;
    -ms-transition: all ease-out 0.3s 0.3s;
    transition: all ease-out 0.3s 0.3s;
}
.content div h2,
.content div h3{
	color: #398080;
}


.content .content-1 img.tap-page-icon,
.content .footer img.tap-page-icon{
	max-width:100%;
}
.content .content-1 .label-content{
	align-self:flex-end;
	
}
.label-content label{
	color:#E0E0E0;
	font-size:20px;
}
.content-1 .tap-page-slider.active:hover{
	background-color: #3EBDCC;
}
.content-2 .custom-wrapper{
	max-width: 380px;
    padding-left: 32px;
}
.content-2 .custom-wrapper p{
	font-size: 14px;
    line-height: 24px;
    font-family: 'robotoregular';
    color: #AAAAAA;
    margin-bottom: 18px;
}
.content-wrapper .color-selector li{
	width: 41px;
    height: 41px;
    color: transparent;
    border-radius:6px;
    margin-right: 30px;
}
.content-4 input.bussiness-text{
	padding:20px 20px;
    letter-spacing: 0px;
    color: white;
    font-family: 'robotoregular';
    font-size: 24px;
    opacity: 1;
	font-family: 'robotolight';
    border: none;
	position:relative;
	left:0;
	height:65px;
	top:0;
	width:462px;
	border-radius: 10px;
	background-color:#1F1F1F;
}
.content-wrapper .color-choice{
	font-size: 14px;
	line-height: 25px;
	color:#ffffff;
	font-family: 'robotoregular';
	font-weight: bold;
}
.pre-next-bar{
	overflow: hidden;
}
.pre-next-bar label{
	color:#AAAAAA;
	font-size: 14px;
	line-height: 24px;
	font-family: 'robotoregular';
}
.pre-next-bar .icon{
	background: #1F1F1F;
	border-radius: 5px;
	padding: 6px 9px 9px 9px;
	margin-right: 30px;
}
.custom-wrapper .btn-group{
	display: inherit;
}
.custom-wrapper .dropdown-toggle {
    background: #1f1f1f;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding: 12px 0;
    border-radius: 5px;
	margin-top: 20px;
}
.apply-logo{
	font-family: 'robotoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 160px;
    padding: 7px 0px;
    background: #3EBDCC;
    border-color: #3EBDCC;
    border-radius: 8px;
}
.upload-sm{
	background: #1F1F1F 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000009e;
    border: 1px solid #3EBDCC;
    border-radius: 6px;
    opacity: 1;
    text-align: center;
    font-size: 18px;
	line-height: 24px;
    letter-spacing: 0px;
    color: #3EBDCC;
    opacity: 1;
    padding: 14px 37px;
}

.shiftRight-arrow{
	cursor: pointer;
	position: relative;
    top: 20px;
    left: 26px;
}
.tabs.rightTabs{
	left: 95%;
    transform: translate(-100%,-50%);
}
.tabs.rightTabs:has(input.tab-selector-1:checked), 
.tabs.rightTabs:has(input.tab-selector-2:checked), 
.tabs.rightTabs:has(input.tab-selector-3:checked), 
.tabs.rightTabs:has(input.tab-selector-4:checked), 
.tabs.rightTabs:has(input.tab-selector-5:checked){
	left: 100%;
}
.tabs.rightTabs .tab-group:has(input.tab-selector-1:checked),
.tabs.rightTabs .tab-group:has(input.tab-selector-2:checked),
.tabs.rightTabs .tab-group:has(input.tab-selector-3:checked),
.tabs.rightTabs .tab-group:has(input.tab-selector-4:checked),
.tabs.rightTabs .tab-group:has(input.tab-selector-5:checked){
	right: 0;
    position: absolute;
}
.tabs.rightTabs .tab-group{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.tabs.rightTabs .content{
	bottom:inherit;
	left: 0;
}
.tabs.rightTabs .content .content-wrapper.content-1,
.tabs.rightTabs .content .content-wrapper.footer{
	left:0;
}
.tabs.rightTabs .content .content-wrapper.content-2,
.tabs.rightTabs .content .content-wrapper.content-3,
.tabs.rightTabs .content .content-wrapper.content-4{
	padding-left: 30px;
	padding-right: 0!important;
}
#closeLeftside-Tab{
	position: fixed;
	right: 0;
	cursor: pointer;
}
.rightTabs #closeLeftside-Tab{
	left:0;
}

.i-icon-active,
.tabs input:checked + .label .i-icon{
	display: none!important;
}
.tabs input:checked + .label .i-icon-active{
	display: block!important;
}
.tabgroup-wrapper:has(input:checked){
		
}
@media (max-width: 1200px) {
	
	.tabs input:hover + .label {
		background: none;
	}
	.tabs:has(input.tab-selector-1:checked), 
	.tabs:has(input.tab-selector-2:checked), 
	.tabs:has(input.tab-selector-3:checked), 
	.tabs:has(input.tab-selector-4:checked), 
	.tabs:has(input.tab-selector-5:checked){
		width: 90%;
		left: 50%;
		top: 100%;
		transform: translate(-50%, -100%);
		margin: 0 auto;
	}
	section.tabs{
		width: 90%;
		left: 50%;
		top: 100%;
		transform: translate(-50%, -100%);
		margin: 0 auto;
		z-index: 3;
		max-height: 75vh;
		background: transparent;
	}

	.tab-group{
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width:100%;
		height:auto;
		border-radius: inherit;
		padding: 0;
		position: absolute;
		bottom:0;
		background:transparent;
	}
	.tabgroup-wrapper{
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 20%;
		position: relative;
		height: 145px;
		background:#2c2c2c 0% 0% no-repeat padding-box;
		bottom: -12px;
	}
	.tab-group .tabgroup-wrapper:first-child{
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.tab-group .last-tabgroup-wrapper{
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.tabs .label{
		width: 100%;
		height: auto;
		padding:0;
		top: 50%;
    	transform: translateY(-50%);
		font-size: 18px;
    	line-height: 24px;
	}
	.tabs .label .i-icon,
	.tabs .label .i-icon-active{
		margin:0 auto 15px auto;
		width: auto;
	}
	.tabs input{
		width: 100%;
		height: 50px;
		top: 50%!important;
		transform: translateY(-50%);

	}
	.tabs .label:after{
		content:none;	
	}
	.tabs-inner-box{
		position:relative;
	}
	.content{
		height: 70vh;
		bottom:160px;
		background: #2c2c2c;
		visibility: hidden;
		opacity: 0;
		width: auto;
		left: 0;
	}
	.content .content-wrapper.content-1, .content .content-wrapper.footer{
		height: 100%;
	}
	.content .content-wrapper{
		left:0!important;
		padding: 0;
		width: 100%!important;
	}
	.content .content-wrapper.content-3,
	.content .content-wrapper.content-4{
		padding: 30px;
		top:inherit;
		bottom: 0;
	}
	.content .content-wrapper.content-3 p,
	.content .content-wrapper.content-4 p{
		font-size: 18px;
		line-height: 28px;
	}
	.content-4 input.bussiness-text{
		top: inherit!important;
		top: inherit!important;
    	transform: inherit;
		font-size: 21px;
	}
	.content-2 .custom-wrapper{
		max-width:100%;
		padding-right:32px;
		padding-top: 91px;
		padding-bottom: 26px;
	}
	.content-2 .custom-wrapper p{
		font-size: 18px;
		line-height: 28px;
	}
	.tab-group:has(input.tab-selector-1:checked) ~ .content,
	.tab-group:has(input.tab-selector-2:checked) ~ .content,
	.tab-group:has(input.tab-selector-3:checked) ~ .content,
	.tab-group:has(input.tab-selector-4:checked) ~ .content,
	.tab-group:has(input.tab-selector-5:checked) ~ .content{
		visibility: visible;
		opacity: 1;
	}
	

	.tabs input:checked + .label{
		background: transparent;
	}
	
	.tabgroup-wrapper:has(input:checked)::before{
		content: '';
		position: absolute;
		width: 48px;
		height: 27px;
		left: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		transform: translateX(-50%);
		background-color: #2c2c2c;
    	top: -12px;
	}
	.tabgroup-wrapper:has(input:checked){
		background:#2c2c2c;
	}
	.content-wrapper .active{
		background: transparent;
	}
	.tap-page-slider{
		text-align: center;
	}
	.content-wrapper .label-content{
		display: none;
	}
	.content .tab-home-page-label{
		height: 36px;
		color: #ffffff;
		font-size: 18px;
		line-height: 32px;
		padding-left: 5px;
		text-align: left;
		display: block!important;
		position: absolute;
		left: 50%;
		margin-bottom: 0;
		bottom: 0;
		transform: translateX(-50%);
		background-image: url(../images/label-bg-shadow.png);
	}
	.content-wrapper .color-selector li{
		width:80px;
		height:80px;
	}
	.pre-next-bar{
		display: none;
	}
	.custom-wrapper .dropdown-toggle{
		text-align: left;
		padding: 12px 24px;
	}
	.custom-wrapper .dropdown-toggle::after{
		float:right;
		margin-top: 9px;
	}
}
@media (max-width: 991px){
	.tabs .label .i-icon{
		width: 40px;
	}
}
@media (max-width: 768px){
	.tabs .label{
		font-size: 12px;
		line-height: 16px;
	}
	.tabs .label .i-icon,
	.tabs .label .i-icon, .tabs .label .i-icon-active{
		width: 35px;
	}
	.content-2 .custom-wrapper p {
		font-size: 14px;
		line-height: 24px;
	}
	.content-wrapper .color-selector li{
		width: 60px;
    	height: 60px;
	}
	.content .content-wrapper.content-3 p, 
	.content .content-wrapper.content-4 p{
		font-size: 14px;
		line-height: 24px;
	}
}
@media (max-width: 575px){
	.tab-group{
		height:auto;
	}
	.tabgroup-wrapper{
		height: 95px;
	}
	.tabs .label{
		font-size: 10px;
		line-height: 14px;
	}
	.tabs .label .i-icon,
	.tabs .label .i-icon-active{
		width: 30px;
	}
	.content{
		bottom:110px;
	}
	.content-2 .custom-wrapper p {
		font-size: 12px;
		line-height: 20px;
	}
	.content .content-wrapper.content-3 p, 
	.content .content-wrapper.content-4 p{
		font-size: 12px;
		line-height: 22px;
	}
	.content-wrapper .color-selector li{
		width: 30px;
    	height: 30px;
		margin-right: 15px;
	}
	.content-4 input.bussiness-text{
		width:100%;
		font-size: 12px;
		line-height: 14px;
		height: 40px;
		border-radius: 5px;
	}
}