@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('../fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'futura_bk_btbook';
  src: url('../fonts/futura_bk_bt_book-webfont.woff2') format('woff2'),
       url('../fonts/futura_bk_bt_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.grecaptcha-badge {
  visibility: hidden;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'robotoregular';

}
*:focus{
outline: none;
}
body{
  background: #1f1f1f;
  height:100vh;
}
.reset-padding{
padding: 0!important;
}
.reset-margin{
margin:0!important;
}
a[class*='fa-']:before {
  display: inline-block;
  font-family: "FontAwesome", sans-serif;
  font-size: 15px;
  line-height: 1;
  width: 1em;
}
a:hover{
text-decoration: none;
}

html {
scroll-behavior: smooth;
--scrollbarBG: transparent;
--thumbBG: #ffffff;
--audiotrackthumbBG: #878787;
}
body{
position: relative;
z-index: 1;
}



#scrollBtn {
display: none;
width:60px;
height:60px;
position: fixed;
bottom: 100px;
right: 20px;
z-index: 99;
border: none;
outline: none;
background-color: #3EBDCC;
cursor: pointer;
border-radius: 50%;
border-radius: 8px 34px 34px 34px;
box-shadow: 0 5px 4px 0 rgba(0,0,0,.26);
}
#scrollBtn img{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}

.container-1320{
width: 1320px;
max-width: 100%;
}
.container-1280{
max-width: 1280px;
width: 100%;
}

.container-1160{
max-width: 1160px;
width: 100%;
}
.container-1120{
max-width: 1120px;
width: 100%;
}
.container-1070{
max-width: 1070px;
width: 100%;
}
.container-1000{
max-width: 1000px;
width: 100%;
}
.container-970{
max-width: 970px;
width: 100%;
}
.container-90{
  max-width: 90%;
  width:100%;
}

.container-75{
  max-width: 75%;
  width: 100%;
}
.container-80{
  max-width: 80%;
  width: 100%;
}
.container-85{
  max-width: 85%;
  width: 100%;
}
.site-fluid{
  padding: 0;
}
header.fixed-header{
background: #fcfcfc;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 999;
box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

header.site-navbar{
padding-bottom: 9vh;
}
header.site-header nav{
background-color: transparent!important;
}

.site-navigation .navbar-brand{
padding:45px 0 4px 0;
}
.site-navigation ul.navbar-nav li a.nav-link{
color:#ffffff;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height:28px;
padding:0;
}

.site-navigation ul.navbar-nav li{
padding:0 48.3px 0 0;
}
.site-navigation ul.navbar-nav li:last-child{
padding:0;
}
.site-navigation ul.navbar-nav li:hover a.nav-link{
color:#005579;
}

/***** Submenu design *****/
.site-navigation ul.navbar-nav li ul.sub-menu li{
  list-style: none;
}
.site-navigation ul.navbar-nav li ul.sub-menu li:last-child a.nav-link{
  background: none;
  border-radius: inherit;
  width: auto;
  color: #494D56;
  text-align: inherit;
}

.site-navigation ul.navbar-nav li.menu-item-has-children ul.sub-menu li a::after{
  content:inherit;
}
.main-nav li {
  position: relative;
}
.main-nav ul ul {
  text-align: left;
  position: absolute;
  top: calc(100% + 10px) !important;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
  width:170px;
  padding: 0px 0px 0px 0px;
  border-width: 5px 0px 0px 0px;
  border-style: none;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  background: #3EBDCC;
  padding: 24px 0 29px 22px;
}
.main-nav ul li.lang-item ul{
  right: 0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  width: 180px;
  padding: 15px 0;
  /*left: 100%;
  transform: translateX(-50%);
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width:180px;
  padding: 15px 0;*/
}
.main-nav ul li:hover > ul {
  visibility:visible;
  opacity: 1;
}
.main-nav ul.navbar-nav ul.sub-menu:before{
position: absolute;
content: '';
height: 12px;
width: 12px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
top: -6px;
background: #3EBDCC;
}
.main-nav ul.navbar-nav li.lang-item ul.sub-menu:before{
background: #FFFFFF;
opacity: 0.9;
right:9px;
box-shadow: -2px -2px 3px rgb(0 0 0 / 25%);
}

.site-navigation .main-nav ul.navbar-nav li.lang-item ul.sub-menu li a.nav-link{
padding:2px 0 2px 16px;
color: #878787 !important;
}
.site-navigation .main-nav ul.navbar-nav li.lang-item ul.sub-menu li:hover a{
background: #E8F5F9;
}
ul.sub-menu a .lan-code{
font-style: normal;
font-weight: bold;
font-family: 'robotoregular';
font-size: 14px;
line-height: 20px;
width:27px;
margin: 0 9px 0 0;
}
ul.sub-menu a .lan-flag{
width:27px;
margin: 0 9px 0 0;
}
ul.sub-menu a .lan-title{
font-style: normal;
font-weight: 300;
font-family: 'robotoregular';
font-size: 14px;
line-height: 20px;
margin: 0;
}
ul.sub-menu a label{
cursor: pointer;
}
.main-nav ul.navbar-nav li.lang-item ul.sub-menu li.menu-item{
padding:0;
}
.main-nav ul ul.sub-menu li{
  border-width: 0px 0px 0px 0px;
  border-style: none;
  border-color: #ebebeb;
  padding: 0 0 7.5px 0;
}
.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link{
  padding: 10px 15px 10px 15px;
  font-family: 'futura_bk_btbook';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:#ffffff!important;
  padding:0;

}
.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link:after {
  content: "";
  display: block;
  width: 60%;
  padding-top: 2.5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: .5s;
  position:relative;
  right:5px;
}

.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link:hover:after {
  width: 75%;
}
.site-navigation ul.navbar-nav li:hover ul.sub-menu li a.nav-link{
  color:#ffffff;
}
.site-navigation ul.navbar-nav li ul.sub-menu li:hover a{
  color:#ffffff!important;
}
.white-logo{
display: none;
}
.overlay-header .dark-logo{
display:none;
}
.overlay-header .white-logo{
display:block;
}
.lang-item img.flag{
filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-sticky-bar{
background: rgba(244, 164, 29, 0.5);
padding: 4px 0;
position: fixed;
width: 100%;
top: 18px;
z-index:9999;
}
.top-sticky-bar p{
color:#ffffff;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
margin:0;
}


.site-navigation1 .navbar-brand{
padding:45px 0 4px 0;
}
.site-navigation1 ul.navbar-nav li a.nav-link{
color:#fff;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height:28px;
padding:0;
}

.site-navigation1 ul.navbar-nav li{
padding:0 48.3px 0 0;
}
.site-navigation1 ul.navbar-nav li:last-child{
padding:0;
}
.site-navigation1 ul.navbar-nav li:hover a.nav-link{
color:#005579;
}

/***** Submenu design *****/
.site-navigation1 ul.navbar-nav li ul.sub-menu li{
  list-style: none;
}
.site-navigation1 ul.navbar-nav li ul.sub-menu li:last-child a.nav-link{
  background: none;
  border-radius: inherit;
  width: auto;
  color: #494D56;
  text-align: inherit;
}

.site-navigation1 ul.navbar-nav li.menu-item-has-children ul.sub-menu li a::after{
  content:inherit;
}

.textbox-color{
background-color:#383838;
border-color: #383838;
}


/* Footer design starts (19-09-22) */
.footer-section{
  margin-top: 28px;
}
footer{
  background: #005579;
  padding: 30px 0 26px 0;
}
.menus-container ul{
  list-style: none;
    display:flex;
    margin: 0;
    justify-content: space-between;
    padding-left:12%;
   
}
.menus-container ul li a{
  color:white;
  font-size: 20px;
  text-decoration: underline !important;
  
}
.footer-top{
  padding-bottom:20px;
  border-bottom:1px solid#0874A2;
}

.footer-bottom{
  padding-top:20px;
}
.footer-bottom p{
  text-align: right;
  color:white;
  font-size: 20px;
  margin:0;
}
.section-center__title{

padding-top:109px;
margin:0px;
text-align: center;
font-size:22px;
letter-spacing: 4.4px;
color: #F4A41D;
text-transform: uppercase;
opacity: 1;
}
.section-left__title{
  text-align: left;
font-size:22px;
letter-spacing: 4.4px;
color: #F4A41D;
opacity: 1;

}

/* top animation */
.container-75 {
  width: 100%;
  max-width: 75%;
  padding:20px 0px 0px 0px;
}
.container-75 .rectangle-animate{
  padding:20%;
  background-color: #000000;
  box-shadow: 0px 2px 7px #00000017;
  border-radius: 41px;
  
}
.websitetemplate-condent{
  
  padding-bottom: 102px;
  text-align: center;
}


.websitetemplate-condent p.website-subcondent{
  font-size: 26px;
  color:#AAAAAA;
  padding: 30px 0px;
  max-width: 91%;
  margin:0 auto;
}
button.click-mail{
  border:none;
  padding:10px 50px 10px 50px;
  border-radius: 8px;
  color:white;
  background-color: #3EBDCC;
  font-size: 28px;
}
.section-sub__title{
  padding-top:40px;
  
color: var(--unnamed-color-ffffff);
text-align: center;
font-size:70px;
color: #FFFFFF;
opacity: 1;
}
/* carosal */

.container-85{
  width: 100%;
  max-width: 85%;

}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item .ads {
  display: inline-block;
  margin-left: -4px;
}
.carousel-item .ads img {
  width: 100%;
  height: auto;
}
/* pricing */

section.pricing{
  background: #00344A 0% 0% no-repeat padding-box;
  margin-top:111px;
  padding:109px 0px;
}


.pricing h3{
padding-top:43px;
text-align: center;
font-size:60px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.price-list{
  padding-top:20px;
  text-align: center;
}
.price-list-left h1{
 
font-size:150px;
letter-spacing: 0px;
color: #3EBDCC;
margin:0px;
}

.price-list-right h1{
  font-size:150px;
letter-spacing: 0px;
color: #3EBDCC;
margin:0px;

}
.price-list-right p{
  text-align: center;
font-size:26px;
letter-spacing: 0px;
color: #AAAAAA;
margin:0px;

}
.price-list .seperate{
  color:white;
  font-size: 70px;
 
}
/* maintanance */


.maintanance h4{
  padding-top:109px;
  margin:0px;
  text-align: center;
  font-size:22px;
letter-spacing: 4.4px;
color: #F4A41D;
text-transform: uppercase;
opacity: 1;
}

.startingprice{
  padding-top:50px;
  padding-bottom:60px;
}
.starting-price h3{
  text-align: left;
font-size:50px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;

}
.starting-price p{
  text-align: left;
font-size:30px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;
}
p.price-para{
  padding:0px;
  margin-top:10px;
}
.list-of-price ul li{
  color:#3EBDCC;
  margin-top: 7px;
}
.list-of-price ul li span{
  color:#AAAAAA;
}
/* feature */
section.feature{
  background: #00344A 0% 0% no-repeat padding-box;
  padding:110px 0px;

}
.feature-container-75-splitfeature{
  padding-top:70px;
}
.feature-video__condent img{
  margin-bottom:20px;
}
.feature-video__condent p{
  letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font-size:23px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
}

/* website builder */


p.website-builder-container-75__bilder-title__bilder-condent{
  font-size:60px;
  color:#FFFFFF;
  padding-top:46px;
  padding-bottom:208px;
  text-align: center;
  margin:0px;
}
.circle{

background: #3EBDCC;
position: relative;
width: 25px;
height: 25px;
border-radius: 100%;
color: white;
text-align: center;
}
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  right: 50%;
  bottom: 1px;
  height: 231px;
  width: 2px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: #3EBDCC;
  z-index: -1;
}
/* support guidance */
section.support-guidance{
  background-color: #00344A;
  padding:110px 0px;
}
.support-guidance-email-popup-image{
  background-image: url("../images/background.png");
  background-position: right;
  background-repeat: no-repeat;
}
.support-guidance-container-90{
  max-width: 58%;
  width:100%;
}
h4.support-guidance-container-90__title1{
    letter-spacing: 4.4px;
    color: #F4A41D;
    opacity: 1;
    margin: 0;
    font-size: 22px;
    text-align: left;
}
.section-left-sub__title{
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 60px;
  padding-top: 40px;
  margin: 0px;
}
  

p.support-guidance-container-90__title__para{
font-size: 26px;
text-align: left;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
margin:0;
padding:50px 0px;
}
.support-guidance-container-90 a{

    text-decoration:underline!important;
    text-align: right;
    font-size: 28px;
    letter-spacing: 0px;
    color: #3EBDCC;
    opacity: 1;
}
/* scroll timeline */
.timeline {
  padding-top :140px !important;
  padding-bottom:110px;
}
.timeline ul {
  padding: 0;
}
.timeline .default-line {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  background: #bdc3c7;
  /* height: 1900px; */
}
.timeline .draw-line {
  width: 4px;
  height: 0;
  position: absolute;
  left: 50%;
  background: #3EBDCC;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  padding:5px 0px;
  margin: 0 auto;
  height: 375px;
  background: transparent;
}
.timeline ul li.in-view {
  transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
  margin:120px 0px;
}
.timeline ul li.in-view::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-image: url("https://sg0duxoli5-flywheel.netdna-ssl.com/wp-content/themes/inspired_elearning_theme/images/check-dark.svg");
  background-color: #3EBDCC;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
}
.timeline ul li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: inherit;
  background: #bdc3c7;
  transition: all 0.4s ease-in-out;
}
.timeline_image img{
  padding-left:50px;
}
.timeline_condent h2{
  text-align: left;
font-size:40px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
padding-left:30px;
margin-bottom:20px;
}
.timeline_condent p{
  
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font-size:24px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
margin:0px;
padding-left:30px;
}
/* .timeline_button li.in-view::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 42px;
  
  border-radius: 50%;
  background-image: url("https://sg0duxoli5-flywheel.netdna-ssl.com/wp-content/themes/inspired_elearning_theme/images/check-dark.svg");
  background-color: #3EBDCC;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
}
.timeline_button li::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 12px;
 
  border-radius: 50%;
  background: inherit;
  background: #bdc3c7;
  transition: all 0.4s ease-in-out;
} */
.timeline ul li.timeline_button{
  list-style-type: none;
  position: relative;
  text-align: center;
  margin: 0 auto;
 height: 0 !important;
  background: transparent;
}

.timeline li.row.hidden{
  opacity: 0;
}





.menu-categories-container ul.menu{
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin-bottom: 0;
}
.widget-content .widget-title
{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color:#F4A41D;
  margin-bottom: 18px;
}
.menu-categories-container ul.menu li{
  /*padding-bottom:9px;*/
}
.menu-categories-container ul.menu li a{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color:#ffffff;
 
}
.widget_text .icon-box{
  width:66px;
  height:66px;
  background:#F4A41D;
  margin-bottom: 20px;
}
.widget_text .icon-box i{
  color:#ffffff;
  font-size: 40px;
  position: relative;
  top: 14px;
}
.widget_text ul.address-list{
  list-style: none;
  margin-bottom: 20px;
}
ul.socialmedia_network {
  list-style: none;
  display: inline-flex;
}
ul.socialmedia_network li{
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;

}
ul.socialmedia_network li a{
  color:#005579;
}
.widget_text ul.address-list li
{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
}

#c2d-newsletter #info,
#c2d-newsletter_mobile #info_mobile{
  position: absolute;
  bottom: 37px;
  padding:2px 20px;
  border-radius: 3px;
}

.input-group-lg>.input-group-append>.btn.c2d-newsletter-btn
{
  background: #F4A41D;
  border-radius: 4px;
  width:123px;
  color:#ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 7.5px 0;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.web-copyright {
  color: #ffffff;
  margin-bottom: 0;
}

/******* Heightlight footer box *********/
.heightlight-footer-box{
  background: #00344A;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top:30px;
}
.box-content{
  padding: 100px 0 112px 0;
}
.box-content .box-title{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color:#ffffff;
  font-family: 'robotoregular';
}
.box-content .box-para{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
  font-family: 'robotoregular';
  margin:0;
}

.box-btn{
  font-family:'robotoregular';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #005579;
  width:320px;
  background: #ffffff;
  border-radius: 8px;
  display: block;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}
.box-btn:hover{
  background:#3EBDCC;
  border:1px solid #3EBDCC;
  color:#fff;
}