@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('../fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'futura_bk_btbook';
  src: url('../fonts/futura_bk_bt_book-webfont.woff2') format('woff2'),
       url('../fonts/futura_bk_bt_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.grecaptcha-badge {
  visibility: hidden;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'robotoregular';

}
*:focus{
outline: none;
}
body{
  background: #1f1f1f;
  height:100vh;
}
.reset-padding{
padding: 0!important;
}
.reset-margin{
margin:0!important;
}
a[class*='fa-']:before {
  display: inline-block;
  font-family: "FontAwesome", sans-serif;
  font-size: 15px;
  line-height: 1;
  width: 1em;
}
a:hover{
text-decoration: none;
}

html {
scroll-behavior: smooth;
--scrollbarBG: transparent;
--thumbBG: #ffffff;
--audiotrackthumbBG: #878787;
}
body{
position: relative;
z-index: 1;
}



#scrollBtn {
display: none;
width:60px;
height:60px;
position: fixed;
bottom: 100px;
right: 20px;
z-index: 99;
border: none;
outline: none;
background-color: #3EBDCC;
cursor: pointer;
border-radius: 50%;
border-radius: 8px 34px 34px 34px;
box-shadow: 0 5px 4px 0 rgba(0,0,0,.26);
}
#scrollBtn img{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}

.container-1320{
width: 1320px;
max-width: 100%;
}
.container-1280{
max-width: 1280px;
width: 100%;
}

.container-1160{
max-width: 1160px;
width: 100%;
}
.container-1120{
max-width: 1120px;
width: 100%;
}
.container-1070{
max-width: 1070px;
width: 100%;
}
.container-1000{
max-width: 1000px;
width: 100%;
}
.container-970{
max-width: 970px;
width: 100%;
}
.container-90{
  max-width: 90%;
  width:100%;
}

.container-75{
  max-width: 75%;
  width: 100%;
}
.container-80{
  max-width: 80%;
  width: 100%;
}
.container-85{
  max-width: 85%;
  width: 100%;
}
.site-fluid{
  padding: 0;
}
header.fixed-header{
background: #fcfcfc;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 999;
box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

header.site-navbar{
padding-bottom: 9vh;
}
header.site-header nav{
background-color: transparent!important;
}

.site-navigation .navbar-brand{
padding:45px 0 4px 0;
}
.site-navigation ul.navbar-nav li a.nav-link{
color:#ffffff;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height:28px;
padding:0;
}

.site-navigation ul.navbar-nav li{
padding:0 48.3px 0 0;
}
.site-navigation ul.navbar-nav li:last-child{
padding:0;
}
.site-navigation ul.navbar-nav li:hover a.nav-link{
color:#005579;
}

/***** Submenu design *****/
.site-navigation ul.navbar-nav li ul.sub-menu li{
  list-style: none;
}
.site-navigation ul.navbar-nav li ul.sub-menu li:last-child a.nav-link{
  background: none;
  border-radius: inherit;
  width: auto;
  color: #494D56;
  text-align: inherit;
}

.site-navigation ul.navbar-nav li.menu-item-has-children ul.sub-menu li a::after{
  content:inherit;
}
.main-nav li {
  position: relative;
}
.main-nav ul ul {
  text-align: left;
  position: absolute;
  top: calc(100% + 10px) !important;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
  width:170px;
  padding: 0px 0px 0px 0px;
  border-width: 5px 0px 0px 0px;
  border-style: none;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  background: #3EBDCC;
  padding: 24px 0 29px 22px;
}
.main-nav ul li.lang-item ul{
  right: 0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  width: 180px;
  padding: 15px 0;
  /*left: 100%;
  transform: translateX(-50%);
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width:180px;
  padding: 15px 0;*/
}
.main-nav ul li:hover > ul {
  visibility:visible;
  opacity: 1;
}
.main-nav ul.navbar-nav ul.sub-menu:before{
position: absolute;
content: '';
height: 12px;
width: 12px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
top: -6px;
background: #3EBDCC;
}
.main-nav ul.navbar-nav li.lang-item ul.sub-menu:before{
background: #FFFFFF;
opacity: 0.9;
right:9px;
box-shadow: -2px -2px 3px rgb(0 0 0 / 25%);
}

.site-navigation .main-nav ul.navbar-nav li.lang-item ul.sub-menu li a.nav-link{
padding:2px 0 2px 16px;
color: #878787 !important;
}
.site-navigation .main-nav ul.navbar-nav li.lang-item ul.sub-menu li:hover a{
background: #E8F5F9;
}
ul.sub-menu a .lan-code{
font-style: normal;
font-weight: bold;
font-family: 'robotoregular';
font-size: 14px;
line-height: 20px;
width:27px;
margin: 0 9px 0 0;
}
ul.sub-menu a .lan-flag{
width:27px;
margin: 0 9px 0 0;
}
ul.sub-menu a .lan-title{
font-style: normal;
font-weight: 300;
font-family: 'robotoregular';
font-size: 14px;
line-height: 20px;
margin: 0;
}
ul.sub-menu a label{
cursor: pointer;
}
.main-nav ul.navbar-nav li.lang-item ul.sub-menu li.menu-item{
padding:0;
}
.main-nav ul ul.sub-menu li{
  border-width: 0px 0px 0px 0px;
  border-style: none;
  border-color: #ebebeb;
  padding: 0 0 7.5px 0;
}
.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link{
  padding: 10px 15px 10px 15px;
  font-family: 'futura_bk_btbook';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color:#ffffff!important;
  padding:0;

}
.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link:after {
  content: "";
  display: block;
  width: 60%;
  padding-top: 2.5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: .5s;
  position:relative;
  right:5px;
}

.site-navigation ul.navbar-nav li ul.sub-menu li a.nav-link:hover:after {
  width: 75%;
}
.site-navigation ul.navbar-nav li:hover ul.sub-menu li a.nav-link{
  color:#ffffff;
}
.site-navigation ul.navbar-nav li ul.sub-menu li:hover a{
  color:#ffffff!important;
}
.white-logo{
display: none;
}
.overlay-header .dark-logo{
display:none;
}
.overlay-header .white-logo{
display:block;
}
.lang-item img.flag{
filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-sticky-bar{
background: rgba(244, 164, 29, 0.5);
padding: 4px 0;
position: fixed;
width: 100%;
top: 18px;
z-index:9999;
}
.top-sticky-bar p{
color:#ffffff;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
margin:0;
}


.site-navigation1 .navbar-brand{
padding:45px 0 4px 0;
}
.site-navigation1 ul.navbar-nav li a.nav-link{
color:#fff;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height:28px;
padding:0;
}

.site-navigation1 ul.navbar-nav li{
padding:0 48.3px 0 0;
}
.site-navigation1 ul.navbar-nav li:last-child{
padding:0;
}
.site-navigation1 ul.navbar-nav li:hover a.nav-link{
color:#005579;
}

/***** Submenu design *****/
.site-navigation1 ul.navbar-nav li ul.sub-menu li{
  list-style: none;
}
.site-navigation1 ul.navbar-nav li ul.sub-menu li:last-child a.nav-link{
  background: none;
  border-radius: inherit;
  width: auto;
  color: #494D56;
  text-align: inherit;
}

.site-navigation1 ul.navbar-nav li.menu-item-has-children ul.sub-menu li a::after{
  content:inherit;
}

.textbox-color{
background-color:#383838;
border-color: #383838;
}


/* Footer design starts (19-09-22) */
.footer-section{
  margin-top: 28px;
}
footer{
  background: #005579;
  padding: 30px 0 26px 0;
}
.menus-container ul{
  list-style: none;
    display:flex;
    margin: 0;
    justify-content: space-between;
    padding-left:12%;
}
.menus-container ul li a{
  color:white;
  font-size: 20px;
  text-decoration: underline !important;
}
.footer-top{
  padding-bottom:20px;
  border-bottom:1px solid#0874A2;
}
.footer-bottom{
  padding-top:20px;
}
.footer-bottom p{
  text-align: right;
  color:white;
  font-size: 20px;
  margin:0;
}
.section-center__title{
padding-top:109px;
margin:0px;
text-align: center;
font-size:22px;
letter-spacing: 4.4px;
color: #F4A41D;
text-transform: uppercase;
opacity: 1;
}
.section-left__title{
  text-align: left;
font-size:22px;
letter-spacing: 4.4px;
color: #F4A41D;
opacity: 1;
}

/* top animation */
.container-75 {
  width: 100%;
  max-width: 75%;
  padding:20px 0px 0px 0px;
}
.container-75 .rectangle-animate{
  padding:20%;
  background-color: #000000;
  box-shadow: 0px 2px 7px #00000017;
  border-radius: 41px;
  
}
.websitetemplate-condent{
  
  padding-bottom: 102px;
  text-align: center;
}
.websitetemplate-condent p.website-subcondent{
  font-size: 26px;
  color:#AAAAAA;
  padding: 30px 0px;
  max-width: 91%;
  margin:0 auto;
}
button.click-mail{
  border:none;
  padding:10px 50px 10px 50px;
  border-radius: 8px;
  color:white;
  background-color: #3EBDCC;
  font-size: 28px;
}
.section-sub__title{
  padding-top:40px;
  
color: var(--unnamed-color-ffffff);
text-align: center;
font-size:70px;
color: #FFFFFF;
opacity: 1;
}

/* carosal */

.container-85{
  width: 100%;
  max-width: 85%;

}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-item .ads {
  display: inline-block;
  margin-left: -4px;
}
.carousel-item .ads img {
  width: 100%;
  height: auto;
}




/* left right carosal */
#news_slide{
  height:356px; 
  overflow:hidden;
  }
  #news_slide1{
    height:150px; 
    overflow:hidden;
    }
  .voxNews li{
  margin-top:-10px;
  float:left;
  margin-left:5px;
  padding:15px 0 5px;
  }
  
  .voxNews1 li{
  margin-top:-10px;
  float:right;
  margin-left:5px;
  padding:15px 0 5px;
  }
  .carosal_image{
    vertical-align:baseline;
  }
  
  
  
  .products-outer {
    width: 80%;
    margin: 50px auto 0;
   
    padding: 20px;
    overflow: hidden;
  }
  
 
  .product {
    display: inline;
  }



/* pricing */

section.pricing{
  background: #00344A 0% 0% no-repeat padding-box;
  margin-top:111px;
  padding:109px 0px;
}
.pricing h3{
padding-top:43px;
text-align: center;
font-size:60px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.price-list{
  padding-top:20px;
  text-align: center;
}
.price-list-left h1{
 
font-size:150px;
letter-spacing: 0px;
color: #3EBDCC;
margin:0px;
}
.price-list-right h1{
  font-size:150px;
letter-spacing: 0px;
color: #3EBDCC;
margin:0px;

}
.price-list-right p{
  text-align: center;
font-size:26px;
letter-spacing: 0px;
color: #AAAAAA;
margin:0px;

}
.price-list .seperate{
  color:white;
  font-size: 70px;
 }


/* maintanance */


.maintanance h4{
padding-top:109px;
margin:0px;
text-align: center;
font-size:22px;
letter-spacing: 4.4px;
color: #F4A41D;
text-transform: uppercase;
opacity: 1;
}

.startingprice{
  padding-top:50px;
  padding-bottom:60px;
}
.starting-price h3{
text-align: left;
font-size:50px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;
}
.starting-price p{
text-align: left;
font-size:30px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;
}
p.price-para{
  padding:0px;
  margin-top:10px;
}
.list-of-price ul li{
  color:#3EBDCC;
  margin-top: 7px;
}
.list-of-price ul li span{
  color:#AAAAAA;
}

/* feature */
section.feature{
  background: #00344A 0% 0% no-repeat padding-box;
  padding:110px 0px;
}
.feature-container-75-splitfeature{
  padding-top:70px;
}
.feature-video__condent img{
  margin-bottom:20px;
}
.feature-video__condent p{
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font-size:23px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
}

/* website builder */


p.website-builder-container-75__bilder-title__bilder-condent{
  font-size:60px;
  color:#FFFFFF;
  padding-top:46px;
  padding-bottom:208px;
  text-align: center;
  margin:0px;
}
/* .circle{

background: #3EBDCC;
position: relative;
width: 25px;
height: 25px;
border-radius: 100%;
color: white;
text-align: center;
}
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  right: 50%;
  bottom: 1px;
  height: 231px;
  width: 2px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: #3EBDCC;
  z-index: -1;
} */
/* support guidance */
section.support-guidance{
  background-color: #00344A;
  padding:110px 0px;
}
.support-guidance-email-popup-image{
  background-image: url("../images/background.png");
  background-position: right;
  background-repeat: no-repeat;
}
.support-guidance-container-90{
  max-width: 58%;
  width:100%;
}
h4.support-guidance-container-90__title1{
    letter-spacing: 4.4px;
    color: #F4A41D;
    opacity: 1;
    margin: 0;
    font-size: 22px;
    text-align: left;
}
.section-left-sub__title{
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 60px;
  padding-top: 40px;
  margin: 0px;
}
p.support-guidance-container-90__title__para{
font-size: 26px;
text-align: left;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
margin:0;
padding:50px 0px;
}
.support-guidance-container-90 a{

text-decoration:underline!important;
text-align: right;
font-size: 28px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;
}

/* scroll timeline */
.timeline {
  padding-top :140px !important;
  padding-bottom:110px;
}
.timeline ul {
  padding: 0;
}
.timeline .default-line {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  background: #bdc3c7;
  /* height: 1900px; */
}
.timeline .draw-line {
  width: 4px;
  height: 0;
  position: absolute;
  left: 50%;
  background: #3EBDCC;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  padding:5px 0px;
  margin: 0 auto;
  height: 375px;
  background: transparent;
}
.timeline ul li.in-view {
  transition: 0.5s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
  margin:120px 0px;
}
.timeline ul li.in-view::before {
  content: attr(data-before);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-image: url("https://sg0duxoli5-flywheel.netdna-ssl.com/wp-content/themes/inspired_elearning_theme/images/check-dark.svg");
  background-color: #3EBDCC;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
  text-align: center;
  color: white;
  padding:6px 22px;
  font-size:30px;
}

.timeline ul li::before {
  content: attr(data-before);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background: inherit;
  background: #bdc3c7;
  transition: all 0.4s ease-in-out;

}

.timeline_image img{
  padding-left:50px;
}
.timeline_condent h2{
  text-align: left;
font-size:40px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
padding-left:30px;
margin-bottom:20px;
}
.timeline_condent p{
  
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font-size:24px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
margin:0px;
padding-left:30px;
}

.timeline ul li.timeline_button{
  list-style-type: none;
  position: relative;
  text-align: center;
  margin: 0 auto;
 height: 0 !important;
  background: transparent;
}

.timeline li.row.hidden{
  opacity: 0;
  transition: 0.5s ease-in-out
}




/* website catalogue */

.catalogue-firstSection .catelogue-left-sub__title p{
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font-size:70px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.searchBox{
  width:50%;
  float:right;
  border-bottom: 1px  solid#3EBDCC;
}
span.searchicon{
  color:#3EBDCC;
  font-size: 20px;
}
.searchBox input{
  background-color: transparent;
  border:none;
  text-align: left;
  font-size:18px;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
}
.searchBox input:focus{
  background-color:#1F1F1F;
  border-color: transparent;
  box-shadow: none;
  color:white;
}

  #myFilter::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  /* filter section */
  .filtersection{
   
    margin:10px 0px 10px 0px;
    border-top:2px solid #383838;
    border-bottom:2px solid #383838;

  }
  .request{
    text-align: right;
    padding:0px;
  }
  .request-sector{
    border:none;
    border-radius: 6px;
    padding:13px 36px;
    background-color: #F4A41D;
    text-align: center;
  font-size:24px;
  letter-spacing: 0px;
  color: #383838;
  opacity: 1;

  }
  .catelogue-page .header-section header{
    z-index: 0;
  }
  .request-sector:focus{
    border: none;
    outline: none;
  }
  /* requestform pop up */
  .catelogue-page .modal-backdrop{
    background-color: #1F1F1F;
    opacity: 1;
  }
  .requestform-popup-page{
    margin-top:150px;
    margin-bottom:200px;
  }
  .requestform-popup-page .modal-content{
    background: transparent;
    border-radius: inherit;
    box-shadow: none;
    border: none;
  }
  h2.form-heading{
    color:white;
    padding-bottom:60px;
    margin:0px;
    font-size:50px;
    line-height: inherit;
  }
.requestmodal_content{
  background: #383838 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #000000AA;
  border-radius: 37px;
 

}
.requestmodal_content .close{
  color: #3EBDCC;
  opacity: 1;
  text-shadow: none;
  font-size:35px;
  position: absolute;
  right:-61px;
  top:-12%;

}
.requestmodal_content .close:focus{
  outline: none;
}
form.request-popup-form{
  padding:50px 50px;
  

}

button.closebutton span{
  font-size:60px;
}

.requestmodal_content label
{
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font-size:24px;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.requestmodal_content input{
  background: #1F1F1F 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
border:none;
}
.requestmodal_content .description input{

  padding:80px 0px;
}
.requestmodal_content input{
  padding:32px 20px;
  letter-spacing: 0px;
  color:white;
  font-family: 'robotoregular';
  font-size: 28px;
  opacity: 1;
 font-size:18px;
 border:none;
}
.requestmodal_content input:focus{
  background-color: #1F1F1F;
  border:none;
  color:white;
  box-shadow: none;
}
.requestmodal_content textarea:focus{
  background-color: #1F1F1F;
  color:white;
  box-shadow: none;
  

}

.requestmodal_content h3{
font-size:18px;
letter-spacing: 1.25px;
color: #BEBEBE;
opacity: 1;
margin-top:30px;
}
.robotimage img{
  width: 100%;
  max-width: 50%;
}
.submit{
  text-align: right;
}
.submit button{
padding:10px 79px;
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal bold 24px/29px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
border:none;
}
/* live preview */
.skip-row{
  background:#1f1f1f;
}
.skip-row h2{
  color:white;
  margin:0px;
  font-size:50px;
  line-height: inherit;
}
.skip-button{
  text-align: right;
} 
.skip{
    background: #1F1F1F 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000009e;
    border: 1px solid #3EBDCC;
    border-radius: 6px;
    opacity: 1;
    text-align: left;
    font-size:25px;
    letter-spacing: 0px;
    color: #3EBDCC;
    opacity: 1;
    padding: 18px 94px;
}
.skip:hover{
  background-color: #3EBDCC;
  border: 1px solid #3EBDCC;
}
.logo-heading{
  padding:50px 50px 20px 50px;
}
h2.logo-title{
font-size:50px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;
}
p.logo-condent{
text-align: left;
font-size:24px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
margin:0px;
}
hr.horizontal-line{
 
background: #383838 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 9px #00000080;
border-radius: 40px;
opacity: 1;
}
.upload-logo{
  padding-left:50px;
}
p.logo-subcondent{
text-align: left;
font-size:18px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
padding-left:50px;
padding-right:70px;
padding:30px 70px 30px 50px;
}
.site-name{
  margin-top:80px;
}
/* logo name overlay */
.index-page .modal-backdrop{
  background-color: #383838;
  opacity: 1;
}
.request-popup-form label{
  font-size:24px;
}
.logo-name-overlay .requestmodal_content{
  border:none;
  background-color: transparent;
  box-shadow: none;
}
span.required{
  color:#FF0000;
}
textarea.message{  
    
    padding: 20px 20px;
    height:215px;
    border-radius: 10px;
    background-color: #1F1F1F;
    border: none;
}
label.field{
  margin-left:49px;
  font-size:20px;
  margin-bottom:15px;
}

.message-subcondent{
  padding-top:90px;
}
h3.message-condent{
  padding-bottom:22px;
  font-family: 'robotoregular';
  

}
.request-popup-form .form-group:nth-child(odd){
  padding-left:0px;
  padding-right:50px;
}
.request-popup-form .form-group.email-message{
  padding-right:0px;
}

.logo-name-overlay .requestmodal_content .close{
  color: #3EBDCC;
  opacity: 1;
  text-shadow: none;
  font-size:35px;
  position: absolute;
  right:-61px;
  top:-6%;

}
/* copyright popup */
.copyright-title{
  display:inline-block;
  margin-left:30px;
  align-self: flex-end;
  margin-bottom:0px;
}
.copyright-title label{
  display:block;
  padding-top:5px;
 margin:0px;
}
label.copy-title{
  font-family: 'robotoregular';
  font-size: 28px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
label.copy-subtitle{
  font-family: 'robotothin';
  font-size: 24px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

/* livepreview-page */
.livepreview-firstSection .live-preview-left-sub__title p{
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font-size:70px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }
  .livepreview-firstSection .live-preview-right-sub__title p{
    font-size:26px;
    font-family: 'robotothin';
    color:#AAAAAA;
    line-height: 32px;
  }
  .filtersection button{
    margin-right: 12px;
  }
  .filtersection button i{
    margin-right:4px;
  }
  .filtersection button:last-child{
    margin-right: 0px;
  }
  button.like-button{
    padding:15px 30px;
    background: #3EBDCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000040;
    border-radius: 6px;
    opacity: 1;
    font-size:20px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  border:none;

  }
  button.whistlist-button{
    padding:15px 30px;
    background: #3EBDCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000040;
    border-radius: 6px;
    opacity: 1;
    border:none;
    font-size:20px;
    letter-spacing: 0px;
    color:white;
    opacity: 1;

  }
  button.copyright-button{
    padding:15px 30px;
    background: #F4A41D 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000040;
    border-radius: 6px;
    opacity: 1; 
    font-size:20px;
    letter-spacing: 0px;
    color:white;
    opacity: 1;
    border:none;

  }





 /* website card temaplate start */



.card_body{
    margin: 10px 35px 50px 35px;
}
.card_image{
  position: relative;
}
.card_image i{
  box-shadow: 3px 3px 6px #0000005e;
    color: #005579;
    padding: 17px 20px 17px 20px;
    background-color: white;
    border-radius: 37px;
    position:absolute;
    left: 30px;
    bottom: 42px;
}
.card_image i:last-child{
  left:100px;
}
.card_image i.like{
  background-color:  #005579;
  color:white;
}
.card_image img{
  border-radius: 41px;
  box-shadow: 0px 2px 7px #00000066;
  border-radius: 41px 41px 0px 0px;
  opacity: 1;
}
.card_body button{
  margin-right:10px;
  color: white;
  text-align: left;
  font-size:12px;
  letter-spacing: 1.2px;
  color: #005579;
  opacity: 1;
  border: 0.5px solid #005579;
  border-radius:8px;
  opacity: 1;
  padding:10px 25px;
  background-color: white;
}
.card_body.btn-2{
  color:#3EBDCC!important;
}
.website_template{
  background-color: #00000080;
  background: #383838 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 9px #00000080;
  border-radius: 41px;
  opacity: 1;

}
.card_block:nth-child(odd) .website_template
{
  margin-right:20px;
  margin-left:0px;
}
.card_block:nth-child(even) .website_template
{
  margin-left:20px;
  margin-right:0px;
}
.card_body span{
text-align: right;
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3ebdcc);
margin-left: 27%;
font-size:16px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;
}
.card_body h3{
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-3ebdcc);
margin: 20px 0px;
font-size:40px;
letter-spacing: 0px;
color: #3EBDCC;
opacity: 1;
}
.card_body p{

font-size:20px;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
margin-bottom:40px;
}
button.preview{
float: right;
background: var(--unnamed-color-3ebdcc) 0% 0% no-repeat padding-box;
background: #3EBDCC 0% 0% no-repeat padding-box;
border-radius: 6px;
padding:10px 14x;
text-align: center;
font-size:24px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
 .card_block{
  margin-top:100px;
 }

.color-selector li {
  width: 34px;
  height: 34px;
  color: transparent;
  border-radius: 50%;
  margin-right:11px;
}

/* pagenavigation */
.website-pagenation{
  padding-top:77px;
  padding-bottom:100px;

}
.website-pagenation nav{
  float:right;

}
.website-pagenation-nav_ul{
  box-shadow: 0px 3px 6px #0000006B;
opacity: 1;

}
.website-pagenation-nav_ul_li a{
  font-size:20px;
  color: #AAAAAA;
  background-color: #383838;
  padding:20px 24px;
border:none;

opacity: 1;
margin-right:8px;
}
.section-num a{
padding:20px 24px;
background-color: #383838;
text-align: center;
font-size:20px;
letter-spacing: 0px;
color: #AAAAAA;
opacity: 1;
border:none;

opacity: 1;
margin-right:8px;

}
.website-pagenation-nav_ul_li a:hover {
  background-color: #3EBDCC;
  color:white;
}
.section-num a:hover {
  background-color: #3EBDCC;
  color:white;
}

/* slideshow recent view
button*/
h2.card_subtitle{
  font-size:35px;
  color:#FFFFFF;
  margin-bottom:80px;
}
.slide-show-recent_cardview .inner-slide{
  padding:0px 40px;
}
.slide-show-recent_cardview .inner-slide a.prev-section{
  left:-85px;
}
.slide-show-recent_cardview .inner-slide a.next-section{
  right:-82px;
}
/* request form */
.request-form h2{
  font-size:40px;
  color:white;
  text-align: left;
  margin-bottom:82px;
}
.form-container{
  background: #383838 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #000000AA;
  border-radius: 37px;
  opacity: 1;

}
.request-form{
  padding:100px 100px;
}





.menu-categories-container ul.menu{
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin-bottom: 0;
}
.widget-content .widget-title
{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color:#F4A41D;
  margin-bottom: 18px;
}
.menu-categories-container ul.menu li{
  /*padding-bottom:9px;*/
}
.menu-categories-container ul.menu li a{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color:#ffffff;
 
}
.widget_text .icon-box{
  width:66px;
  height:66px;
  background:#F4A41D;
  margin-bottom: 20px;
}
.widget_text .icon-box i{
  color:#ffffff;
  font-size: 40px;
  position: relative;
  top: 14px;
}
.widget_text ul.address-list{
  list-style: none;
  margin-bottom: 20px;
}
ul.socialmedia_network {
  list-style: none;
  display: inline-flex;
}
ul.socialmedia_network li{
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;

}
ul.socialmedia_network li a{
  color:#005579;
}
.widget_text ul.address-list li
{
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
}

#c2d-newsletter #info,
#c2d-newsletter_mobile #info_mobile{
  position: absolute;
  bottom: 37px;
  padding:2px 20px;
  border-radius: 3px;
}

.input-group-lg>.input-group-append>.btn.c2d-newsletter-btn
{
  background: #F4A41D;
  border-radius: 4px;
  width:123px;
  color:#ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 7.5px 0;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.web-copyright {
  color: #ffffff;
  margin-bottom: 0;
}

/******* Heightlight footer box *********/
.heightlight-footer-box{
  background: #00344A;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-top:30px;
}
.box-content{
  padding: 100px 0 112px 0;
}
.box-content .box-title{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color:#ffffff;
  font-family: 'robotoregular';
}
.box-content .box-para{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color:#ffffff;
  font-family: 'robotoregular';
  margin:0;
}

.box-btn{
  font-family:'robotoregular';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #005579;
  width:320px;
  background: #ffffff;
  border-radius: 8px;
  display: block;
  text-align: center;
  padding: 15px 0;
  text-decoration: none;
}
.box-btn:hover{
  background:#3EBDCC;
  border:1px solid #3EBDCC;
  color:#fff;
}